<%- include('./partials/header') %>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/leaderboard">Leaderboard</a>
        </li>
        </ul>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Games Won</th>
                </tr>
            </thead>
            <tbody>
                <% users.map((user, i) => { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= user.username %></td>
                        <td><%= user.wins %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('./partials/footer') %>
