<%- include('../partials/header') %>

<div class="card text-center bg-light text-dark mt-5 shadow-lg">
    <div class="card-header">Sign Up</div>
    <div class="card-body">

        <form action="/users" method="POST" class="needs-validation">
            <%- renderInput({
                name: 'username',
                type: 'text',
                label: 'Username',
                value: user.username,
                errors
            }) %>

            <%- renderInput({
                name: 'email',
                type: 'email',
                label: 'Email',
                value: user.email,
                errors
            }) %>

            <%- renderInput({
                name: 'password',
                type: 'password',
                label: 'Password',
                errors
            }) %>

            <%- renderInput({
                type: 'password',
                name: 'passwordConfirmation',
                label: 'Password Confirmation',
                errors
            }) %>

            <input type="submit" value="Sign Up" class="btn btn-success btn-block">
        </form>
        <a class="btn btn-outline-warning btn-block mt-4" href="/">Go Back</a>
    </div>
</div>

<%- include('../partials/footer') %>
